# {{ ansible_managed }}

{% for name, balancer in balancers.iteritems() %}

Listen {{balancer.load_balancer_port|int}}

<VirtualHost *:{{balancer.load_balancer_port|int}}>
  ProxyRequests {{balancer.load_balancer_proxy_requests|default('off', true)}}
  ServerAlias {{load_balancer_host}}

  <Proxy balancer://{{ name }}-cluster>

  {% for node_name, node in balancer.nodes.iteritems() %}
    # {{node_name}}
    BalancerMember http://{{node.url}}:{{node.port|int}}
  {% endfor %}

  Require all granted

  ProxySet lbmethod={{load_balancer_method|default('byrequests', true)}}

  </Proxy>

  <Location /balancer-manager>
    SetHandler balancer-manager
  </Location>

  ProxyPass /balancer-manager !
  ProxyPass / balancer://{{ name }}-cluster/
</VirtualHost>

{% endfor %}
