# {{ ansible_managed }}

LoadModule proxy_module {{ modules_dir }}/mod_proxy.so
LoadModule lbmethod_{{load_balancer_method|default('byrequests', true)}}_module {{ modules_dir }}/mod_lbmethod_{{load_balancer_method|default('byrequests', true)}}.so
LoadModule proxy_balancer_module {{ modules_dir }}/mod_proxy_balancer.so
LoadModule proxy_http_module {{ modules_dir }}/mod_proxy_http.so
LoadModule slotmem_shm_module {{ modules_dir }}/mod_slotmem_shm.so
